/* Variables */

$font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 18px;

$text-color: #070707;
$background-color: #222222;
$inner-text-color: #f7f7f7;
$accent-color: #82b3f1;
$subaccent-color: #2476DB;

/* Overall */

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family: $font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

body {
  font-size: $font-size;
  background-color: $background-color;
  color: $text-color;
  margin: 0 auto;
}

a {
  color: $accent-color;
  text-decoration: none;
  outline: 0;
  &:visited {
    color: $accent-color;
  }
  &:hover, &:focus, &:active {
    color: $subaccent-color;
  }
}

.text {
  &.center {
    text-align: center;
  }
  &.right {
    text-align: right;
  }
  &.left {
    text-align: left;
  }
  &.lower{
    text-transform: lowercase;
  }
  &.large {
    font-size: 125%;
  }
  &.small {
    font-size: 75%;
  }
}

.full-expand {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.full-background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.full-dimmer {
  background-color: $text-color;
  opacity: .4;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.full-block {
  display: table;
  width: 100%;
  height: 100%;
  .full-block-layer {
    display: table-cell;
    vertical-align: middle;
    .full-block-content {
      display: inline-block;
    }
  }
}


/* Header */
.site-header {
  margin: 0 auto;
}

/* Footer */
.site-footer {
  color: $inner-text-color;
  margin: 0 auto;
  .contact-us {
    margin: 24px 4px 10px;
  }
  .copyright {
    margin: 10px 4px 4px;
  }
}

/* Content */
.site-content {
  margin: 0 auto;

  .entry-cell {
    padding: 24px 4px;
  }

  .pure-form {
    .pure-radio {
      width: auto !important;
    }
  }

  .image-icon {
    display: inline;
    max-height: 75px;
    padding: 10px 2px 6px;
  }

  .image-container {
    margin: 6px 2px;
    .image-book {
      display: inline-block;
      .image-face {
        display: block;
        max-height: 100px;
      }
      .image-cover {
        display: none;
        max-height: 100px;
      }
      &:hover {
        .image-face {
          display: none;
        }
        .image-cover {
          display: block;
        }
      }
    }
  }

  .hero {
    position: relative;
    padding: 8% 0;
    text-shadow: 2px 3px 3px $text-color;
    color: $inner-text-color;
    z-index: 2;

    .hero-title {
      font-size: 1.8em;
      padding: 0 12%;
    }
    .hero-image {
      background-image: url("/assets/img/icons/new-york-skyline.jpg");
    }

    h1 {
      padding: 0;
      margin: 0;
    }

    h3 {
      font-style: italic;
    }

    .programs-grid {
      padding: 0 12%;
      .startups-grid h2 {
        color: #53a0ff;
      }

      .non-profits-grid h2 {
        color: #eb7500;
      }

      .corporations-grid h2 {
        color: #b5aaff;
      }
    }
  }
}
